// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table1{
 margin-left: 100px;
 margin-right: auto;
 width: 100px;
}

body { padding-top: 100px; }